#main .box{
    height: 500px;
    margin: auto;
    border-radius: 10px;}

.eachRow hr{
    margin: 0px;
}
.eachRow{
    height: 20px;
}
.eachRow p{
    width: 50%;
    float: left;
}
#counter div{
    border: solid 1px;
    border-radius: 10px;
    margin: 10px;
}